.img {
	width: 80%;
	
}

.registro {
	text-align: center;
	margin-top: 10px;
}

.gradiente {
	background-image: url(../img/fondo_formulario.png);
}

.comentarios {
	width: 70%;

}

.flotante {
	background: #d71818d9;
	width: 64px;
	height: 78px;
	border-radius: 20px 5px 5px 20px;
	text-align: center;
	box-shadow: 0px 0px 31px rgba(49, 58, 69, 0.77);
	position: fixed;
	top: 24%;
	right: 0.5%;
	font-size: 36px;
	cursor: pointer;
	padding-top: 14px;
}

.vinculo {
	color: white;
	text-decoration: none;
}


i{
	color: rgb(26, 26, 26);
}

i:hover {
	color: rgb(4, 98, 248);
}
=======
body {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }

  .form-check{
	  color:white;
	  margin-top: 20px;
	  margin-left: 70px;
	  
  }
  a{
	  color: white;
	  text-decoration: none;
	  
  }
  
  #enviar{
	 /*  background-color: red; */
	  width: 30%;
  }
  

